target/

*.*
!.gitignore
!*.md
!*.java

!src/main/doxygen/*.css
!src/main/doxygen/*.htm
!src/main/doxygen/*.doxyfile

!src/main/resources/**/*.xml
!src/main/resources/**/*.png
!src/main/resources/**/*.properties

!src/main/styleguide/*.xml
!src/main/styleguide/*.md

src/main/resources/documentation/developer/**
