*.*

!.gitignore
!*.md
!*.java

!src/main/documentation/**/*.css
!src/main/documentation/**/*.htm
!src/main/documentation/**/*.doxyfile
!src/main/documentation/**/*.vsdx

!src/main/resources/**/*.htm
!src/main/resources/**/*.html
!src/main/resources/**/*.js
!src/main/resources/**/*.css
!src/main/resources/**/*.xml
!src/main/resources/**/*.png
!src/main/resources/**/*.properties

!src/main/styleguide/*.xml
!src/main/styleguide/*.header
!src/main/styleguide/*.md

target/**
src/main/resources/web/documentation/developer/**
