target/

*.*
!.gitignore
!*.md
!*.java

!documentation/*.css
!documentation/*.htm
!documentation/*.doxyfile

!src/main/resources/**/*.xml
!src/main/resources/**/*.png
!src/main/resources/**/*.properties

src/main/resources/documentation/developer/**
