body
{
    color: currentColor;
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active
{
    color: currentColor;
}

a:hover
{
    background-color: ButtonHighlight;
}
