
/******************************** element definitions *****************************************************************/

html, body
{
    height:    100%;
    width:     100%;
    margin:    0px;
    padding:   0px;
    overflow:  hidden;
    font-size: 1em;
    font-family: sans-serif;
    background-color: white;
}

iframe
{
    width: 100%;
    height: 100%;
}

select
{
    width: 120px;
}

/******************************** TODO section *+++++******************************************************************/

/** deprecated? or move to editor section **/
.CodeMirror
{
    height: 75vh;
}

/** deprecated for mecsim_source and mecsim_widget, check if needed (effects the tab background and more) **/
.ui-widget-header{
    margin: 0;
    color: white;
    background: #008C4F;
    border: 1px solid #CACACA;
    position: relative;
    text-align: center;
}

/* depcrecated? */
#mecsim_global_editor{
    collapsible: false;
}

/******************************** class definitions *******************************************************************/

.ui-accordion-content{
    height: 55%;
}

.mecsim_global_accordeonbutton{
    width: 75%;
    align: center;
}

.mecsim_global_accordeonbutton_half{
    width: 36%;
}

.mecsim_global_sliderSubMenu{
    text-align: center;
}

.mecsim_global_cleanTemplate{
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background: url(../img/Logo_TUC_de_CMYK.svg) no-repeat center;
}

.mecsim_editor_fixed_width_button{
    width: 30%;
    top: 10%;
}

.mecsim_log_error
{
    color: #8C1C00;
    display: block;
    font-family: monospace;
    white-space: nowrap;
}

.mecsim_log_output
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
}

.bootstrap-switch-handle-on.bootstrap-switch-primary{
    background: #008C4F !important;
}

/******************************* id definitions ***********************************************************************/

#mecsim_configuration_tabs{
    height: 100%;
}

#tabs{
    height: 100%;
}

#mecsim_global_menu{
    height: 100%;
    /*background-color: #ecf0f1;*/
    background-image: url(../img/Logo_TUC_de_Web_klein.gif);
    background-position: 50% 97%;
    background-repeat: no-repeat;
}

#mecsim_global_content{
    z-index: 0;
    overflow: auto;
}

#mecsim_global_log{
    overflow: auto;
    margin: 1em;
}

#mecsim_global_accordion{
    height: 90%;
    color: red;
}

#mecsim_simulation_switchlabel{
    display: block;
}

#mecsim_about{
    width: 500px;
}

#mecsim_about_text{
    text-align: center;
}

#mecsim_project_name{
    font-weight: bold;
    font-size: large;
    color: #008C4F;
}

/******************************** css definitions for mecsim_source (wizard) ************************************************/

.mecsim_source_toolButton{
    width: 75%;
    text-align: center;
}

.mecsim_source_toolIcon{
    display: inline;
    float: left;
    margin: 5px;
    width: 15px;
    height: 15px;
}

.mecsim_source_wizardSelect{
    width: 240px;
}

.mecsim_source_wizardInputSmall{
    width:30px;
}

.mecsim_source_wizardRightAlign{
    float:right;
    margin-right: 10px;
}

.mecsim_source_errorMessage{
    color: red;
    margin-top: 50px;
}

/******************************** css definitions for mecsim_tageting (targeting) ************************************************/

#mecsim_source_waypointListContainer{
    width: 475px;
    float:left;
}

#mecsim_source_waypointGraphEditor{
    width: 500px;
    margin-left: 15px;
    float:left;
}

.mecsim_source_targetingName{
    width: 150px;
    height: 15px;
    margin-top: 5px;
    padding: 2px 3px;
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    text-align: center;
    font: -webkit-small-control;
    resize: none;
    -webkit-appearance: textfield;
}

/******************************** css definitions for mecsim_grapheditor ++++++++************************************************/

.mecsim_graphEditor_svg {
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    margin-left: 25px;
    cursor: default;
    -webkit-user-select: none;
}

.mecsim_graphEdiorPath.link {
    stroke: #000;
    stroke-width: 4px;
    fill: none;
    cursor: default;
}

.mecsim_graphEditor_svg:not(.active):not(.ctrl) .mecsim_graphEdiorPath.link {
    cursor: pointer;
}

.mecsim_graphEdiorPath.link.selected {
    stroke-dasharray: 10,2;
}

.mecsim_graphEdiorPath.link.dragline {
    pointer-events: none;
}

.mecsim_graphEdiorPath.link.hidden {
    stroke-width: 0;
}

.mecsim_graphEditorCircle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

.mecsim_graphEditorCircle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
}

.mecsim_graphEditorCircleText {
    font: 12px sans-serif;
    pointer-events: none;
}

.mecsim_graphEditorCircleText.mecsim_graphEditorCircleID {
    font-weight: bold;
    text-anchor: middle;
}

/******************************** css definitions for mecsim_widget ************************************************/

.ui-resizable-helper{
    border: 1px dotted gray;
}

.mecsim_widget_defaultWidget{
    position: absolute;
    padding: 5px;
    margin: 5px;
    border: 1px solid #CACACA;
    overflow: hidden;
}

.mecsim_widget_widgetHeader{
    margin: 0;
    color: white;
    background: #008C4F;
    border: 1px solid #CACACA;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.mecsim_widget_widgetButton{
    position: absolute;
    right: 0;
}

/******************************** css definitions for radial visualization ************************************************/

#communication
{
    left: 10em;
    position: relative;
}

path.communication-arc {
  fill: #fff;
}

.graphtest-node {
  font-size: 8px;
}


.communication-link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.communication-link.source, .communication-link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.communication-node.target {
  fill: #d62728 !important;
}

.communication-link.source {
  stroke: #d62728;
}

.communication-node.source {
  fill: #2ca02c;
}

.communication-link.target {
  stroke: #2ca02c;
}
