html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font: 13px sans-serif;
}

.accordion
{
    background-color: #2f3a48;
    color: #2f3a48;
}