<script type = "text/javascript" >

    /**
     * build table with about data
    **/
    $.getJSON( "object/cabout/get", function( p_data ) {

        $("#mecsim_content").append(
            "<table>" +
            "<thead><tr><th><a href=\"" + p_data.projecturl + "\">" + p_data.projectname + "</a></th></tr></thead>" +
            "<tbody>" +
            "<tr><td colspan=\"2\">&nbsp;</td></tr>" +
            "<tr><th>" + p_data.license_title + "</th><td><a href=\"" + p_data.license_url + "\">" + p_data.license_value + "</a></td>" +
            "<tr><td colspan=\"2\">&nbsp;</td></tr>" +
            "<tr><th>" + p_data.buildversion_title + "</th><td>" + p_data.buildversion_value + "</td>" +
            "<tr><th>" + p_data.buildnumber_title + "</th><td>" + p_data.buildnumber_value + "</td>" +
            "<tr><th>" + p_data.buildcommit_title + "</th><td>" + p_data.buildcommit_value + "</td>" +
            "</tbody>" +
            "</table>"
        );

    });















</script >
