<script type="text/javascript">

    /**
     * build table with configuration data
     **/
    $.getJSON( "cconfiguration/get", function( p_data ) {
        var items = [];
        $.each( p_data, function( p_key, p_value ) {
            items.push("<li>" + p_key + " => " + p_value + "</li>");
        });
        $("<ul/>", { html: items.join("")}).appendTo("#mecsim_content");

        $( "#routingalgorithm" ).selectmenu();
    });





    /**
     * post request example
     **
    $.post(
        "cconfiguration/set",
        { type : "post", foo : "bar", "foo_number" : 2, "bar_bool" : true, "ui" : { "xxx" : 123, "yyy" : "hallo } }
    );


    **
     * get request example
     **
    $.get(
        "cconfiguration/set",
        { type : "get", bar : "foo", "foo_number" : 3, "bar_bool" : false }
    );
    **/






</script>


<div class="ui-widget">
    <label for="routingalgorithm"/>
    <input id="routingalgorithm"/>
</div>