<div id="mecsim_configuration_tabs">
    <ul>
        <li><a href="#tabs-1">General</a></li>
        <li><a href="#tabs-2">Traffic Components</a></li>
        <li><a href="#tabs-3">Database Data</a></li>
    </ul>
    <div id="tabs-1">
        <label for="mecsim_config_select_language">Select a language</label>
        <select name="language" id="mecsim_config_select_language">
        </select>
        <br/><br/>

        <label for="mecsim_config_reset">Reset Configuration?</label>
        <div id="mecsim_config_reset">
            <input type="radio" id="reset_no" name="no"><label for="reset_no">No</label>
            <input type="radio" id="reset_yes" name="yes"><label for="reset_yes">Yes</label>
        </div>
    </div>
    <div id="tabs-2">
    </div>
    <div id="tabs-3">
    </div>
</div>