<script type = "text/javascript" >

    var g_selected_asl = $("#mecsim_agent_files").val();

    var g_editor = CodeMirror(function(elt) {
        source.parentNode.replaceChild(elt, source);
    }, {
         value: source.value,
         lineNumbers: true,
    });

    // TODO: catch exeption if no file exists
    $.post(
        "cagentenvironment/jason/read",
        { "name" : g_selected_asl },
        function( px_data ) {
            g_editor.setValue( px_data.source );
        }
    );






</script >

<form >
    <textarea id = "source" />
</form >