<div id="mecsim_source_toolwizardwidget">

    <h3 class = "ui-widget-header" >Configure your Waypoint Tool</h3 ></p>

    <div id="mecsim_source_toolwizard">

        <h3>Factory Settings</h3>
        <section>
            <label >Select your Factory</label >
            <select id = "mecsim_source_selectFactory" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label >Select your Agent Program</label >
            <select id = "mecsim_source_selectASL" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
        </section>

        <h3>Generator Settings</h3>
        <section>
            <label >Select your Generator</label >
            <select id = "mecsim_source_selectGenerator" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label id = "mecsim_source_generatorinput1_label">Select the Car Count</label >
            <input id = "mecsim_source_generatorinput1" class = "mecsim_source_wizardinputsmall mecsim_source_wizardrightalign" value="1"></input >
            </p>
            <label id = "mecsim_source_generatorinput2_label">Select the Mean Probability</label >
            <input id = "mecsim_source_generatorinput2" class = "mecsim_source_wizardinputsmall mecsim_source_wizardrightalign" value="10"></input >
            </p>
            <label id = "mecsim_source_generatorinput3_label">Select the Standard Deviation</label >
            <input id = "mecsim_source_generatorinput3" class = "mecsim_source_wizardinputsmall mecsim_source_wizardrightalign" value="11"></input >
            </p>
        </section>

        <h3>Car Settings</h3>
        <section>
            <label >Car Speed Probability</label >
            <select id = "mecsim_source_selectSpeedProb" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label >Car Max-Speed Probability</label >
            <select id = "mecsim_source_selectMaxSpeedProb" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label >Car Acceleration Probability</label >
            <select id = "mecsim_source_selectAccProb" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label >Car Deceleration Probability</label >
            <select id = "mecsim_source_selectDevProb" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >
            </p>
            <label >Car Linger Probability</label >
            <select id = "mecsim_source_selectLingerProb" class = "mecsim_source_wizardselect mecsim_source_wizardrightalign"></select >

        </section>

        <h3>Customizing</h3>
        <section>
            <label >Choose a name for your Waypoint Tool</label >
            <input id = "mecsim_source_toolName" value = "custom waypoint name" ></input >
            </p></p>
            <label >Choose a color for your Waypoint Tool</label >
            </br>
            <input id = "mecsim_source_colorpicker" type = "text" ></input >
        </section>

    </div>

</div>
