<!-- Cluster Widget -->
<div id = "mecsim_source_clusterwidget" class = "ui-widget-content" >
    <h3 class = "ui-widget-header" >Source-Target Relation</h3 >
    <center style = "padding-top:10px;" >
        <button id = "mecsim_source_sortByDistance" type = "button" >Sort by Distance</button >
        <button id = "mecsim_source_sortByType" type = "button" >Sort by Type</button >
        <button id = "mecsim_source_sortByName" type = "button" >Sort by Name</button >
    </center >
    <div id = "mecsim_source_cluster" ></div >
</div >

<!-- Waypoint Settings Widget -->
<div id = "mecsim_source_waypointsettings" class = "ui-widget-content" >
    <h3 class = "ui-widget-header" >Waypoint Settings</h3 >

    <label >Select your Factory</label >
    <select class = "mecsim_source_select" id = "mecsim_source_selectFactory" ></select >
    </p>

    <label >Select your Agent Program</label >
    <select class = "mecsim_source_select" id = "mecsim_source_selectASL" ></select >
    </p>

    <label >Select your Generator</label >
    <select class = "mecsim_source_select" id = "mecsim_source_selectGenerator" ></select >
    </p>

    <label id = "mecsim_source_generatorinput1label"></label >
    <input class = "mecsim_source_inputsmall" id = "mecsim_source_generatorinput1" value="1"></input >
    <label id = "mecsim_source_generatorinput2label"></label >
    <input class = "mecsim_source_inputsmall" id = "mecsim_source_generatorinput2" value="10"></input >
    <label id = "mecsim_source_generatorinput3label"></label >
    <input class = "mecsim_source_inputsmall" id = "mecsim_source_generatorinput3" value="11"></input >

    <div class = "mecsim_source_customizetool" >
        <label >AKTUELL WERDEN KONFIGURATION INPUTS NICHT GECHECKT !</label >
        </br>
        <input id = "mecsim_source_toolName" value = "Toolname" ></input >
        <input id = "mecsim_source_colorpicker" type = "text" ></input >
        <input id = "mecsim_source_addTool" type = "submit" value = "Add to Toolbox" ></input >
    </div >
</div >

<!-- Target Weighting Widget -->
<div id = "mecsim_source_targetweighting" class = "ui-widget-content" >
    <h3 class = "ui-widget-header" >Target Weighting</h3 >
</div >
