<!-- Wizard Widget for Waypoint Settings -->
<div id = "mecsim_source_widget" >

    <div id = "mecsim_source_wizard" >

        <h3 id = "mesim_source_factorySettings_label" ></h3 >
        <section >
            <label id = "mecsim_source_selectFactory_label" ></label >
            <select id = "mecsim_source_selectFactory" class = "mecsim_source_wizardSelect mecsim_source_wizardRightAlign" ></select >
            </p>
            <div id = "mecsim_source_agentContainer" >
                <label id = "mecsim_source_selectAgentProgram_label" ></label >
                <select id = "mecsim_source_selectAgentProgram" class = "mecsim_source_wizardSelect mecsim_source_wizardRightAlign" ></select >
            </div >
        </section >

        <h3 id = "mesim_source_generatorSettings_label" ></h3 >
        <section >
            <label id = "mecsim_source_selectGenerator_label" ></label >
            <select id = "mecsim_source_selectGenerator" class = "mecsim_source_wizardSelect mecsim_source_wizardRightAlign" ></select >
            </p>
            <label id = "mecsim_source_generatorInput1_label" ></label >
            <input id = "mecsim_source_generatorInput1" class = "mecsim_source_wizardInputSmall mecsim_source_wizardRightAlign" ></input >
            </p>
            <label id = "mecsim_source_generatorInput2_label" ></label >
            <input id = "mecsim_source_generatorInput2" class = "mecsim_source_wizardInputSmall mecsim_source_wizardRightAlign" ></input >
            </p>
            <label id = "mecsim_source_generatorInput3_label" ></label >
            <input id = "mecsim_source_generatorInput3" class = "mecsim_source_wizardInputSmall mecsim_source_wizardRightAlign" ></input >
            </p>
        </section >

        <h3 id = "mesim_source_carSettings_label" ></h3 >
        <section >
            <label id = "mecsim_source_speedProb_label" ></label ></br>
            <select id = "mecsim_source_selectSpeedProb" class = "mecsim_source_wizardSelect" ></select >
            </p>
            <label id = "mecsim_source_maxSpeedProb_label" ></label ></br>
            <select id = "mecsim_source_selectMaxSpeedProb" class = "mecsim_source_wizardSelect" ></select >
            </p>
            <label id = "mecsim_source_accProb_label" ></label ></br>
            <select id = "mecsim_source_selectAccProb" class = "mecsim_source_wizardSelect" ></select >
            </p>
            <label id = "mecsim_source_decProb_label" ></label ></br>
            <select id = "mecsim_source_selectDevProb" class = "mecsim_source_wizardSelect" ></select >
            </p>
            <label id = "mecsim_source_lingerProb_label" ></label ></br>
            <select id = "mecsim_source_selectLingerProb" class = "mecsim_source_wizardSelect" ></select >
        </section >

        <h3 id = "mesim_source_customizing_label" ></h3 >
        <section >
            <label id = "mecsim_source_toolName_label" ></label >
            <input id = "mecsim_source_toolName" style = "width: 100%;" ></input >
            </p></p>
            <label id = "mecsim_source_toolColor_label" ></label >
            </br>
            <input id = "mecsim_source_colorpicker" type = "text" ></input >
        </section >

    </div >

</div >
